@charset "utf-8";
@import url("../exHTML5/css/normalize.css");

html {
  font-size: 10px;
}

body {
  position: relative;
  line-height: 2.3em;
  font-family: "Open sans", "Malgun Gothic", "맑은 고딕", Dotum, Gulim, Verdana;
}

body * {
  box-sizing: border-box;
}

/* 숨김 콘텐츠 */
.wj_a11y-hidden,
legend {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.wj_clear-fix::after {
  content: "";
  display: block;
  clear: both;
}

/* 헤더 메뉴*/
header {
  height: 10vh;
}

header a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

header li {
  list-style-type: none;
}

.wj_menu-top {
  display: flex;
  justify-content: flex-end;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 700;
  height: 35px;
  background-color: #434343;
}

header li,
header span {
  padding: 0 4px;
}

.wj_menu-top a:hover {
  outline: white solid thin;
}

.wj_menu-lang,
.wj_menu-member {
  display: flex;
  padding: 7px 15px;
  margin: 0;
}

.wj_menu-lang {
  margin-right: auto;
}

.wj_menu-member {
  letter-spacing: 2px;
  margin: 0 5px 0 0;
}

header input {
  width: 170px;
  height: 25px;
  transition: 1s;
  margin: 5px 10px 5px 0;
}

header input:focus {
  width: 200px;
}

header button {
  background: url('./images/search-icon.png') no-repeat;
  background-size: contain;
  position: absolute;
  top: 9px;
  right: 20px;
  text-indent: -9999px;
  border: none;
  width: 20px;
  height: 20px;
}

/* 헤더 메인메뉴 */
h1 {
  margin: 0;
}

.wj_logo a {
  position: absolute;
  top: 50px;
  left: 30px;
}

.wj_menu-bottom {
  margin-left: 950px;
  margin-top: 15px;
  position: relative;
}

.wj_menu-bottom li:hover {
  outline: black solid thin;
}

.wj_menu-main {
  display: inline-block;
  font-size: 1.8rem;
  cursor: pointer;
}

.wj_menu-main:hover .wj_submenu {
  display: flex;
}

.wj_menu-main a {
  color: black;
  display: block;
  padding: 5px 5px 5px 35px;
}

.wj_menu-flight {
  background-image: url('./images/nav-icon1.png');
  background-repeat: no-repeat;
}

.wj_menu-flight:hover {
  background-image: url('./images/hover-1.png');
  background-repeat: no-repeat;
}

.wj_menu-skypass {
  background-image: url('./images/nav-icon2.png');
  background-repeat: no-repeat;
}

.wj_menu-skypass:hover {
  background-image: url('./images/hover-2.png');
  background-repeat: no-repeat;
}

.wj_menu-service {
  background-image: url('./images/nav-icon3.png');
  background-repeat: no-repeat;
}

.wj_menu-service:hover {
  background-image: url('./images/hover-3.png');
  background-repeat: no-repeat;
}

.wj_menu-promotion {
  background-image: url('./images/nav-icon4.png');
  background-repeat: no-repeat;
}

.wj_menu-promotion:hover {
  background-image: url('./images/hover-4.png');
  background-repeat: no-repeat;
}

.wj_submenu {
  font-size: 1.4rem;
  background-color: #fff;
  display: flex;
  white-space: nowrap;
  position: absolute;
  top: 45px;
  right: 5px;
  border: 1px solid lightgray;
  padding: 0 5px 0 10px;
  display: none;
}

.wj_submenu a {
  padding: 5px;
}

.wj_submenu a:hover {
  text-decoration: black underline;
}

.wj_subitem {
  display: block;
  padding: 15px;
}

.wj_subitem span {
  color: #186686;
  font-weight: 700;
}

.wj_menu-close {
  border: none;
  background-color: #fff;
  height: 30px;
  width: 30px;
  margin-top: 10px;
}


/* 푸터 */
footer {
  background: #314563;
  position: relative;
  height: 45vh;
}

.wj_footer-menu {
  padding: 50px 20% 30px;
}

.wj_footer-menu ul {
  float: left;
  padding: 0 40px 0 0;
  margin: 0;
  color: white;
  list-style: none;
}

.wj_footer-menu ul li {
  border-left: 1px solid white;
}

.wj_footer-menu ul li:nth-child(1) {
  font-size: 1.4rem;
  border: none;
  padding-bottom: 5px;
}

.wj_footer-menu a {
  text-decoration: none;
  color: white;
  padding-left: 15px;
  font-size: 1.2rem;
}

.wj_address span,
.wj_copyright {
  font-style: normal;
  color: white;
  font-size: 1.1rem;
  padding-left: 20%;
}

.wj_sns {
  position: absolute;
  top: 260px;
  right: 500px;
}

.wj_sns a {
  padding-right: 5px;
}