/* 부킹 */
.wj_main-book {
  height: 70vh;
  background: url('./images/main-bg.jpg') no-repeat;
  background-position: center top;
}

.wj_main-book div,
.wj_main-event,
.wj_main-special {
  width: 68vw;
  margin: 0 auto;
}

.wj_main-book h2 {
  font-size: 4.8rem;
  font-weight: 350;
  padding: 50px 0 0 0;
  margin: 0;
}

.wj_main-book h3 {
  font-size: 1.9rem;
  font-weight: 500;
  margin: 30px 0 30px 0;
  padding: 0;
}

.wj_main-book a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  font-weight: 800;
  border: 1px solid black;
  border-radius: 3px;
  padding: 12px 40px;
}


/* 메인 북 폼 */

.wj_book fieldset {
  background: #0180a3;
  width: 61vw;
  border: none;
  border-radius: 3px;
  padding: 0;
  margin: 110px auto 0 auto;
  position: relative;
}

.wj_book-btn {
  display: block;
  width: 100px;
  height: 90px;
  background: #155872;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 3px 0 0 3px;
  border: 0.5px solid #0180a3;
  padding-top: 30px;
}

.wj_book-flight {
  background-image: url('./images/booking-icon.png');
  background-position: 36px 12px;
}

.wj_book-hotel {
  background-image: url('./images/booking-icon.png');
  background-position: 36px 200px;
}

.wj_book-rent {
  background-image: url('./images/booking-icon.png');
  background-position: 36px 133px;
}

.wj_book .wj_book-car {
  width: 950px;
  position: absolute;
  left: 120px;
  top: 10px;
}

.wj_car-area-btn {
  border: none;
  background: #27748b;
  display: inline-block;
  margin: 20px 0 0 0;
  width: 100px;
  height: 25px;
  color: white;
}

.wj_car-area-btn:nth-child(1) {
  margin-left: 30px;
  border-radius: 10px 0 0 10px;
  color: #215264;
  background: #7ed0e0;
  font-weight: 600;
}

.wj_car-area-btn:nth-child(2) {
  border-radius: 0 10px 10px 0;
}

.wj_book .wj_car-world {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  width: 850px;
  position: absolute;
  top: 60px;
  left: 30px;
  display: flex;
  flex-wrap: wrap;
}

.wj_car-world ul {
  list-style-type: none;
  padding: 0;
  width: 680px;
}

.wj_car-world input,
.wj_car-world select {
  border-radius: 5px;
  padding-left: 5px;
}

.wj_car-world input {
  display: block;
  height: 30px;
  margin-top: 5px;
}

.wj_wcar-where input {
  width: 320px;
  margin-top: 5px;
}

.wj_car-world .wj_wcar-skypass {
  width: 130px;
  height: 50px;
  margin-top: 12px;
}

.wj_car-world select {
  height: 30px;
  margin-top: 5px;
  display: inline-block;
}

.wj_wcar-skypass select {
  width: 120px;
}

.wj_wcar-when select {
  width: 70px;
}

.wj_wcar-where,
.wj_wcar-when {
  display: flex;
  justify-content: space-between;
}

.wj_dropoff-check {
  position: absolute;
  top: 12px;
  right: 170px;
  display: flex;
}

.wj_car-world .wj_dropoff-check input {
  width: 15px;
  height: 15px;
  margin: 4px 2px 0;
}

.wj_wcar-when li {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 320px;
}


.wj_wcar-when span {
  display: block;
  width: 200px;
}

.wj_car-world button[type="submit"] {
  width: 120px;
  height: 30px;
  background: #a0e2f4;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 0 0 #186686;
  margin: 40px 0 0 20px;
}

/* 이벤트 */
.wj_main-event,
.wj_main-special {
  margin-bottom: 50px;
  position: relative;
}

.wj_main-event h2,
.wj_main-special h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.wj_event-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.wj_event-list a,
.wj_special-list a {
  text-decoration: none;
  display: block;
  height: 290px;
  width: 230px;
}

.wj_event-title,
.wj_event-detail,
.wj_special-title,
.wj_special-detail {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wj_event-title {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 230px 0 0 10px;
}

.wj_event-detail {
  color: #7ed0e0;
  font-size: 1.3rem;
  font-weight: 800;
  padding: 5px 0 0 10px;
}

.wj_event-list a:hover {
  outline: 1px solid black;
}

.wj_event-list li:nth-child(1) a {
  background-color: #434343;
  background-image: url('./images/event1.png');
  background-repeat: no-repeat;
  background-position: top center;
}

.wj_event-list li:nth-child(2) a {
  background-color: #434343;
  background-image: url('./images/event2.png');
  background-repeat: no-repeat;
}

.wj_event-list li:nth-child(3) a {
  background-color: #434343;
  background-image: url('./images/event3.png');
  background-repeat: no-repeat;
}

.wj_event-list li:nth-child(4) a {
  background-color: #434343;
  background-image: url('./images/event4.jpg');
  background-repeat: no-repeat;
}

.wj_event-list li:nth-child(5) a {
  background-color: #434343;
  background-image: url('./images/event5.jpg');
  background-repeat: no-repeat;
}

.wj_event-all,
.wj_special-all {
  color: #186686;
  font-size: 1.6rem;
  font-weight: 500;
  background: url('./images/iconmore.png') no-repeat;
  padding-right: 10px;
  background-position: right center;
  position: absolute;
}

.wj_event-all {
  top: 5px;
  left: 180px;
}

.wj_event-all:hover {
  outline: 1px solid black;
}


/* 특가 항공권 */
.wj_special-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wj_special-list li {
  background-repeat: no-repeat;
  width: 229px;
  position: relative;
  margin-left: 2px;
  float: left;
}

.wj_special-list li:hover {
  outline: 1px solid black;
}

.wj_special-title {
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 5px;
}

.wj_special-detail {
  color: #7ed0e0;
  font-size: 1.8rem;
  font-weight: 800;
}

.wj_special-overlay {
  background: #000;
  opacity: 0.8;
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wj_special-list li:nth-child(1) {
  background-image: url('./images/special1.jpg');
  float: left;
}

.wj_special-list li:nth-child(2) {
  background-image: url('./images/special2.jpg');
}

.wj_special-list li:nth-child(3) {
  background-image: url('./images/special3.jpg');
}

.wj_special-list li:nth-child(4) {
  background-image: url('./images/special4.jpg');
  width: 465px;
  height: 143px;
  margin-bottom: 3px;
}

.wj_special-list li:nth-child(5) {
  background-image: url('./images/special5.jpg');
  height: 143px;
  width: 231.5px;
}

.wj_special-list li:nth-child(6) {
  background-image: url('./images/special6.jpg');
  height: 143px;
  width: 231.5px;
}

.wj_special-notice {
  font-size: 1.2rem;
  padding: 10px 0 50px 15px;
}

.wj_special-notice li {
  padding: 3px 0;
}

.wj_special-notice li:nth-last-child(1) {
  font-weight: 700;
}

.wj_special-all {
  top: 5px;
  left: 150px;
}

.wj_special-all:hover {
  outline: 1px solid black;
}