html {
  margin: 0;
  font-size: 10px;
}

/* 부킹 */
.wj_main-book {
  height: 70vh;
  background: url('./images/main-bg.jpg') no-repeat;
  background-position: center top;
}

.wj_main-book div,
.wj_main-event,
.wj_main-special {
  width: 68vw;
  margin: 0 auto;
}

.wj_main-book h2 {
  font-size: 4.8rem;
  font-weight: 350;
  padding: 50px 0 0 0;
  margin: 0;
}

.wj_main-book h3 {
  font-size: 1.9rem;
  font-weight: 500;
  margin: 10px 0 30px 0;
  padding: 0;
}

.wj_main-book a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  font-weight: 800;
  border: 1px solid black;
  border-radius: 3px;
  padding: 12px 40px;
}

/* 이벤트 */
.wj_main-event,
.wj_main-special {
  margin-bottom: 50px;
  position: relative;
}

.wj_main-event h2,
.wj_main-special h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.wj_event-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.wj_event-list a,
.wj_special-list a {
  text-decoration: none;
  display: block;
  height: 290px;
  width: 230px;
}

.wj_event-list li {
  width: 230px;
  height: 290px;
}

.wj_event-title,
.wj_event-detail,
.wj_special-title,
.wj_special-detail {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wj_event-title {
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 230px 0 0 10px;
}

.wj_event-detail {
  color: #7ed0e0;
  font-size: 1.4rem;
  font-weight: 800;
  padding: 5px 0 0 10px;
}

.wj_event-list a:hover {
  outline: 1px solid black;
}

.wj_event-list li:nth-child(1) a {
  background-color: #434343;
  background-image: url('./images/event1.png');
  background-repeat: no-repeat;
}

.wj_event-list li:nth-child(2) a {
  background-color: #434343;
  background-image: url('./images/event2.png');
  background-repeat: no-repeat;
}

.wj_event-list li:nth-child(3) a {
  background-color: #434343;
  background-image: url('./images/event3.png');
  background-repeat: no-repeat;
}

.wj_event-list li:nth-child(4) a {
  background-color: #434343;
  background-image: url('./images/event4.jpg');
  background-repeat: no-repeat;
}

.wj_event-list li:nth-child(5) a {
  background-color: #434343;
  background-image: url('./images/event5.jpg');
  background-repeat: no-repeat;
}

.wj_event-all,
.wj_special-all {
  color: #186686;
  font-size: 1.6rem;
  font-weight: 500;
  background: url('./images/iconmore.png') no-repeat;
  padding-right: 10px;
  background-position: right center;
  position: absolute;
}

.wj_event-all {
  top: 5px;
  left: 180px;
}

.wj_event-all:hover {
  outline: 1px solid black;
}


/* 특가 항공권 */
.wj_special-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 74px 74px 74px 74px;
}

.wj_special-list li {
  background-repeat: no-repeat;
  width: 229px;
}

.wj_special-list a {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 74px 72px 74px 74px;
}


.wj_special-title {
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 5px;
}

.wj_special-detail {
  color: #7ed0e0;
  font-size: 1.8rem;
  font-weight: 800;
}

.wj_special-overlay {
  display: inline-block;
  background: #000;
  opacity: 0.8;
  margin: 15px 0 0 0;
  padding: 10px;
}

.wj_special-list li:nth-child(1) {
  background-image: url('./images/special1.jpg');
  grid-area: 1/1/5/2;
}

.wj_special-list li:nth-child(1) div {
  grid-area: 4/1/5/2;
}

.wj_special-list li:nth-child(2) {
  background-image: url('./images/special2.jpg');
  grid-area: 1/2/5/3;
}

.wj_special-list li:nth-child(2) div {
  grid-area: 4/1/5/2;
}

.wj_special-list li:nth-child(3) {
  background-image: url('./images/special3.jpg');
  grid-area: 1/3/5/4;
}

.wj_special-list li:nth-child(3) div {
  grid-area: 4/1/5/2;
}

.wj_special-list li:nth-child(4) {
  background-image: url('./images/special4.jpg');
  grid-area: 1/4/3/6;
  width: 463px;
}

.wj_special-list li:nth-child(4) div {
  grid-area: 2/1/3/2;
  width: 442px;
}

.wj_special-list li:nth-child(5) {
  background-image: url('./images/special5.jpg');
  grid-area: 3/4/5/5;
}

.wj_special-list li:nth-child(5) div {
  grid-area: 2/1/3/2;
}

.wj_special-list li:nth-child(6) {
  background-image: url('./images/special6.jpg');
  grid-area: 3/5/5/6;
}

.wj_special-list li:nth-child(6) div {
  grid-area: 2/1/3/2;
}

.wj_special-notice {
  font-size: 1.2rem;
  padding: 5px 0 50px 10px;
}

.wj_special-notice li {
  padding: 3px 0;
}

.wj_special-notice li:nth-last-child(1) {
  font-weight: 700;
}

.wj_special-all {
  top: 5px;
  left: 150px;
}

.wj_special-all:hover {
  outline: 1px solid black;
}