/* 사이드바 */
.wj_sidebar {
  top: 10vh;
  position: fixed;
}

.wj_sidebar .wj_sb-icon {
  display: block;
  width: 50px;
  height: 50px;
  margin: 1px;
  padding: 3px;
  border: none;
  border-top: 1px solid #aaa;
  cursor: pointer;
  background: #434343;
}

.wj_sb-icon img {
  width: 100%;
}

.wj_sb-icon:nth-child(1) {
  background: #fff;
}

.wj_sb-icon:nth-child(1) img {
  width: 60%;

}

.wj_sb-icon:hover,
.wj_sb-icon:focus {
  background: #186686;
}

/* 콘텐츠 */
h2,
h3 {
  top: 0;
  color: white;
  font-size: 5.4em;
  font-weight: 400;
  margin: 0;
  padding: 60px 0 0 160px;
  letter-spacing: -0.5px;
}

h3 {
  position: sticky;
  padding-top: 120px;
}

.wj_btn-link {
  border: 1px solid #186686;
  text-decoration: none;
  color: #186686;
}

.wj_section {
  border-bottom: 5px solid #0f2b36;
}

.wj_s-skypass {
  background-image: linear-gradient(rgba(0, 0, 0, 0.705) 25%,
      rgba(255, 255, 255, 0) 50%),
    url("./images/skypass-bg1.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 89vh;
}

.wj_s-member {
  background-image: linear-gradient(rgba(0, 0, 0, 0.705),
      rgba(255, 255, 255, 0)),
    url("./images/skypass-bg2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.wj_btn-link:hover {
  background-color: #186686;
  color: white;
}

.wj_s-skyteam {
  background-image: linear-gradient(rgba(0, 0, 0, 0.705),
      rgba(255, 255, 255, 0)),
    url("./images/skypass-bg3.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.wj_content .wj_table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

.wj_table tr th,
.wj_table tr td {
  border: 1px solid gray;
  text-align: center;
}

.wj_table tr td {
  height: 105px;
}

.wj_tr {
  background: #186686;
  color: white;
}


.wj_tr th:nth-child(1) {
  width: 40%;
}

.wj_tr th:nth-child(2) {
  width: 10%;
}

.wj_tr th:nth-child(3) {
  width: 10%;
  word-break: keep-all;
}

.wj_tr th:nth-child(4) {
  width: 40%;
}

.wj_table tr td:nth-last-child(1) {
  text-align: left;
}

.wj_table-x {
  background: url("./images/TableIcons_X.png") no-repeat;
  background-position: center;
}

.wj_table-v {
  background: url("./images/TableIcons_Checkv.png") no-repeat;
  background-position: center;
}

.wj_table-vstar {
  background: url("./images/TableIcons_Checkx.png") no-repeat;
  background-position: center;
}

.wj_s-mileage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(187, 36, 36, 0)),
    url("./images/skypass-bg4.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.wj_s-discount {
  background-image: linear-gradient(rgba(0, 0, 0, 0.705),
      rgba(255, 255, 255, 0)),
    url("./images/skypass-bg5.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.wj_s-discount ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wj_s-discount .wj_content ul li .wj_content-link {
  padding: 0;
  margin: 0;
}

.wj_s-cmbs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.705),
      rgba(255, 255, 255, 0)),
    url("./images/skypass-bg6.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

/* 폰트 스타일 */
.wj_content .wj_f-italic {
  font-style: italic;
  color: #186686;
  font-size: 1.8rem;
  letter-spacing: 0;
  padding: 10px 0;
  display: block;
}

.wj_content .wj_f-blue {
  font-size: 2.3rem;
  color: #186686;
  font-weight: 300;
  display: block;
  text-align: center;
  line-height: 1.7;
}

.wj_content {
  width: 65vw;
  margin: 100px auto;
  font-size: 1.6rem;
  letter-spacing: -0.5px;
  background-color: #fff;
  opacity: 0.97;
  padding: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.wj_content-left,
.wj_content-right {
  width: 47%;
}

section:nth-of-type(3) .wj_content,
section:nth-of-type(6) article:nth-of-type(1) {
  display: block;
}

h4 {
  width: 100%;
  margin: 0 0 50px 0;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  background-color: #fff;
}

h5 {
  font-size: 2rem;
  color: hsl(197, 70%, 31%);
  font-weight: 400;
  margin: 20px 0;
}

h6 {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 20px 0 0 0;
}

.wj_content-list {
  padding: 0 0 0 20px;
  margin: 5px 0;
}

.wj_content .wj_content-star {
  font-size: 1.4rem;
  padding: 20px 0;
  display: block;
  letter-spacing: -1px;
}

.wj_content-link {
  color: #186686;
  font-size: 1.6rem;
  display: inline-block;
  padding: 5px;
  margin: 5px 100px 5px 0;
}

.wj_link-pdf {
  background: url('./images/icon_pdf.png') no-repeat;
  background-position: right;
  padding-right: 20px;
}

.wj_content img {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.wj_btn-link {
  display: block;
  width: 80%;
  padding: 10px 15px;
  border: 2px solid hsl(197, 70%, 31%);
  margin: 10px;
}

.wj_content-link:hover {
  outline: 1px solid black;
  font-size: 1.6rem;
}

.wj_content .wj_content-list ul li {
  list-style-type: "-";
}

.wj_content .wj_content-list ul li ul li {
  list-style-type: circle;
}

.wj_content-list .wj_content-star {
  padding: 3px 0;
}