@charset "utf-8";
@import url("../exHTML5/css/normalize.css");

html {
  font-size: 10px;
}

body {
  position: relative;
  line-height: 2.3em;
  font-family: "Open sans", "Malgun Gothic", "맑은 고딕", Dotum, Gulim, Verdana;
}

/* 숨김 콘텐츠 */
.wj_a11y-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 헤더 메뉴*/
header {
  height: 10vh;
}

header a {
  text-decoration: none;
}

header li {
  list-style-type: none;
}

header .wj_menu-top {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 700;
  height: 35px;
  background-color: #434343;
}

header li,
header span {
  padding: 0 4px;
}

header .wj_menu-top a {
  color: #fff;
  cursor: pointer;
}

.wj_menu-top a:hover {
  outline: white solid thin;
}

.wj_menu-lang,
.wj_menu-member {
  display: flex;
  padding: 7px 15px;
  margin: 0;
}

.wj_menu-member {
  display: flex;
  letter-spacing: 2px;
  margin: 0 190px 0 0;
}

header input {
  position: absolute;
  width: 170px;
  height: 20px;
  top: 5px;
  right: 15px;
}

/* 헤더 메인메뉴 */
h1 {
  margin: 0;
}

.wj_logo a {
  position: absolute;
  top: 50px;
  left: 30px;
}

.wj_menu-bottom {
  margin-left: 950px;
  margin-top: 15px;
  position: relative;
}

.wj_menu-bottom a:hover {
  outline: black solid thin;
}

.wj_menu-main {
  display: inline-block;
  font-size: 1.8rem;
  cursor: pointer;
}

.wj_menu-main:hover .wj_submenu {
  display: flex;
}

.wj_menu-main a {
  color: black;
  display: block;
  padding: 5px 5px 5px 35px;
}

.wj_menu-flight {
  background-image: url(./images/nav-icon1.png);
  background-repeat: no-repeat;
}

.wj_menu-skypass {
  background-image: url(./images/nav-icon2.png);
  background-repeat: no-repeat;
}

.wj_menu-service {
  background-image: url(./images/nav-icon3.png);
  background-repeat: no-repeat;
}

.wj_menu-promotion {
  background-image: url(./images/nav-icon4.png);
  background-repeat: no-repeat;
}

.wj_submenu {
  font-size: 1.4rem;
  background-color: #fff;
  display: flex;
  white-space: nowrap;
  position: absolute;
  top: 45px;
  right: 5px;
  border: 1px solid lightgray;
  padding: 0 5px 0 10px;
  display: none;
}

.wj_submenu a {
  padding: 5px;
}

.wj_submenu a:hover {
  text-decoration: black underline;
}

.wj_subitem {
  display: block;
  padding: 15px;
}

.wj_subitem span {
  color: #186686;
  font-weight: 700;
}

.wj_menu-close {
  border: none;
  background-color: #fff;
  height: 30px;
  width: 30px;
  margin-top: 10px;
}

/* 사이드바 */
.wj_sidebar {
  top: 10vh;
  position: fixed;
  background: #434343;
}

.wj_sidebar .wj_sb-icon {
  width: 40px;
  height: 40px;
  margin: 1px;
  text-indent: -9999px;
  padding: 7px;
  border-top: 1px solid #aaa;
}

.wj_sb-icon:nth-child(1) {
  background: #aaa url("./images/plus-sidebar.png") no-repeat;
  background-position: center;
}
.wj_sb-icon:nth-child(2) {
  background: url("./images/transportation-sidebar.png") no-repeat;
  background-size: contain;
}
.wj_sb-icon:nth-child(3) {
  background: url("./images/vx-sidebar.png") no-repeat;
  background-size: contain;
}
.wj_sb-icon:nth-child(4) {
  background: url("./images/family-sidebar.png") no-repeat;
  background-size: contain;
}
.wj_sb-icon:nth-child(5) {
  background: url("./images/skypass-sidebar.png") no-repeat;
  background-size: contain;
}
.wj_sb-icon:nth-child(6) {
  background: url("./images/files-sidebar.png") no-repeat;
  background-size: contain;
}
/* 콘텐츠 */
h2,
h3 {
  top: 0;
  color: white;
  font-size: 5.4em;
  font-weight: 400;
  margin: 0;
  padding: 60px 0 0 160px;
  letter-spacing: -0.5px;
}

h3 {
  position: sticky;
  padding-top: 120px;
}

.wj_btn-link {
  border: 1px solid #186686;
  text-decoration: none;
  color: #186686;
}

.wj_section {
  border-bottom: 5px solid #0f2b36;
}

.wj_s-skypass {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.705),
      rgba(255, 255, 255, 0)
    ),
    url("./images/skypass-bg1.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 89vh;
}

.wj_s-member {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.705),
      rgba(255, 255, 255, 0)
    ),
    url("./images/skypass-bg2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.wj_btn-link:hover {
  background-color: #186686;
  color: white;
}

.wj_s-skyteam {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.705),
      rgba(255, 255, 255, 0)
    ),
    url("./images/skypass-bg3.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.wj_table {
  border-collapse: collapse;
  width: 100%;
  height: 900px;
  margin: 20px 0;
}

.wj_table tr th,
.wj_table tr td {
  border: 1px solid gray;
  text-align: center;
}

.wj_tr {
  background: #186686;
  color: white;
}

.wj_tr th:nth-child(1) {
  width: 40%;
}

.wj_tr th:nth-child(2) {
  width: 10%;
}

.wj_tr th:nth-child(3) {
  width: 10%;
  word-break: keep-all;
}

.wj_tr th:nth-child(4) {
  width: 40%;
}

.wj_table tr td:nth-last-child(1) {
  text-align: left;
}

.wj_table-x {
  background: url("./images/TableIcons_X.png") no-repeat;
  background-position: center;
}

.wj_table-v {
  background: url("./images/TableIcons_Checkv.png") no-repeat;
  background-position: center;
}

.wj_table-vstar {
  background: url("./images/TableIcons_Checkx.png") no-repeat;
  background-position: center;
}

.wj_s-mileage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(187, 36, 36, 0)),
    url("./images/skypass-bg4.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.wj_s-discount {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.705),
      rgba(255, 255, 255, 0)
    ),
    url("./images/skypass-bg5.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.wj_s-discount .wj_content {
  height: 50vh;
  column-fill: auto;
}

.wj_s-discount ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wj_s-discount .wj_content ul li .wj_content-link {
  padding: 0;
  margin: 0;
}

/* 
.wj_s-discount h6:nth-of-type(3) {
  margin-top: 50px;
} */

.wj_s-cmbs {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.705),
      rgba(255, 255, 255, 0)
    ),
    url("./images/skypass-bg6.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

/* 폰트 스타일 */
.wj_content .wj_f-italic {
  font-style: italic;
  color: #186686;
  font-size: 1.8rem;
  letter-spacing: 0;
  padding: 10px 0;
  display: block;
}

.wj_f-blue {
  font-size: 2.3rem;
  color: #186686;
  font-weight: 300;
  display: block;
  text-align: center;
  line-height: 1.7;
}

.wj_content {
  width: 65vw;
  margin: 100px auto;
  font-size: 1.6rem;
  letter-spacing: -0.5px;
  background-color: #fff;
  opacity: 0.97;
  padding: 70px 70px 70px 50px;
  position: relative;
  column-width: 200px;
  column-count: 2;
  text-align: justify;
  column-gap: 80px;
  min-height: 10vh;
}

.wj_section .wj_with-title {
  padding-top: 150px;
}

.wj_section .wj_without-column {
  column-count: 1;
}

h4 {
  height: 50px;
  width: 65vw;
  margin: 0;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  background-color: #fff;
  opacity: 0.97;
  position: absolute;
  top: 60px;
}

h5 {
  font-size: 2rem;
  color: hsl(197, 70%, 31%);
  font-weight: 400;
  margin: 20px 0;
}

h6 {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 20px 0 0 0;
}

.wj_content-list {
  padding: 0 0 0 20px;
  margin: 5px 0;
}

.wj_content .wj_content-star {
  font-size: 1.4rem;
  padding: 20px 0;
  display: block;
  letter-spacing: -1px;
}

.wj_content-link {
  color: #186686;
  font-size: 1.6rem;
  display: inline-block;
  padding: 5px;
  margin: 5px 0;
}

.wj_content img {
  width: 85%;
  display: block;
  margin: 0 auto;
}

.wj_btn-link {
  display: block;
  width: 380px;
  padding: 10px 15px;
  border: 2px solid #186686;
  margin: 10px;
}

.wj_content-link:hover {
  outline: 1px solid black;
  font-size: 1.6rem;
}

/* 푸터 */
footer {
  background-color: darkslateblue;
  height: 300px;
}
